@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

body{
    font-family: 'Concert One', cursive;
}

 /* tr, td{
    border:  1px solid black;
} */

table{
    border-spacing: 0;
    border-collapse: collapse;
    font-size: large;
}


.container{
    margin-top: 20px;
    border-radius: 5px;
    border:  5px solid #1e88e5;
}
/* .row{
    border: 1px solid red;
} */


#eventsContainer{
    background-color: #1e88e5;
    position: fixed;
    height: 66%;
    width: 42%;
    margin-left: -1%;
    visibility: hidden;
}

@media(min-width: 300px){
    #eventsContainer{
        background-color: #1e88e5;
        position: fixed;
        height: 80%;
        width: 43%;
        /* margin-left: -1%; */
        visibility: hidden;
    } 
}

@media(min-width: 300px) and (max-width: 360px){
    #eventsContainer{
        /* background-color: #1e88e5; */
        background-color: red;
        position: fixed;
        height: 72%;
        width: 43%;
        /* margin-left: -1%; */
        visibility: hidden;
    } 
}

@media(min-width: 300px) and (max-width: 375px){
    #eventsContainer{
        background-color: #1e88e5;
        position: fixed;
        height: 66%;
        width: 43%;
        /* margin-left: -1%; */
        visibility: hidden;
    } 
}

@media(min-width: 400px){
    #eventsContainer{
        background-color: #1e88e5;
        position: fixed;
        height: 73%;
        width: 43%;
        /* margin-left: -1%; */
        visibility: hidden;
    } 
}

@media(min-width: 700px){
    #eventsContainer{
        background-color: #1e88e5;
        position: fixed;
        height: 52.1%;
        width: 42%;
        /* margin-left: -1%; */
        visibility: hidden;
    } 
}

@media(min-width: 800px){
    #eventsContainer{
        background-color: #1e88e5;
        position: fixed;
        height: 42%;
        width: 42%;
        /* margin-left: -1%; */
        visibility: hidden;
    } 
}

@media(min-width: 1200px){
    #eventsContainer{
        background-color: #1e88e5;
        position: fixed;
        height: 70%;
        width: 35%;
        margin-left: -1%;
        visibility: hidden;
    } 
}

#dayName{
    /* border: 1px solid red;
    background-color: red; */
    height: 80px;
    text-align: center;
    font-size: xx-large;
}

.dateLabel{
    /* border: 1px solid red;
    background-color: red; */
    height: 80px;
    text-align: center;
    font-size: xxx-large;
}

